{% extends "theme.html" %}

{% block title %}
   Lose weight
{% endblock %}

{% block lose %}
  active
{% endblock %}
{% block main %}
<br><br><br>
<h3> Lose Weight </h3>
<br><br>
<img src="https://images.pexels.com/photos/53404/scale-diet-fat-health-53404.jpeg" height="10%" width="40%">
<br><br><br>
<p>To find your maintenance calories, eat near your BMR (if you`ve not already calculated calculate It above) for two weeks. (the first week you may lose a lot of water weight). If youre losing weight rapidly during this time add 200 more calories and try for a week. Repeat this process until you figure out your maintenance calories (where you`re not losing much weight). If you`re gaining weight cut another 200 calories and try for a week. Repeat the process until you figure out your maintenance.</p>
<br>
<p>Once you figure out your maintenance calories cut 500 calories from your maintenance calories. You should start losing weight. Don`t worry if it`s not rapid. You`re slowly losing weight. If you`re not losing weight you can decrease your calorie intake by another 200 but please do not follow an extremely low calorie diet. I`d recommend you add in a workout like HIIT to burn calories and to cross the weight loss plateau.</p>
<br>
{% endblock %}