{% extends "theme.html" %}

{% block title %}
   Gain mass
{% endblock %}

{% block gain %}
  active
{% endblock %}
{% block main %}
<br><br><br>
<h3> Gain Mass </h3>
<br><br>
<img src="https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg" height="10%" width="40%">
<br><br><br>
<p>To find your maintenance calories, eat near your BMR (if you`ve not already calculated calculate It above) for two weeks. (the first week you may lose a lot of water weight). If youre losing weight rapidly during this time add 200 more calories and try for a week. Repeat this process until you figure out your maintenance calories (where you`re not losing much weight). If you`re gaining weight cut another 200 calories and try for a week. Repeat the process until you figure out your maintenance.</p>
<br>
<p>In order to build muscle mass you need to be in a calorie surplus. You need to add another 500 calories to your maintenance calories.  Also start strength training by following any one of the programs below:-</p>
<p>1) <a href="https://forum.bodybuilding.com/showthread.php?t=169172473">AllPro</a></p>
<p>2) <a href="https://jimwendler.com/blogs/jimwendler-com/101065094-5-3-1-for-a-beginner">Jim Wendler`s 5/3/1 for beginners</a></p>
<br>
<p>If you`re not gaining mass, add another 200 calories and see for a week. You can keep repeating this until you see a visible change in your body weight. Make sure you get enough protein. <a href="https://www.acsm.org/docs/default-source/files-for-resource-library/protein-intake-for-optimal-muscle-maintenance.pdf?sfvrsn=688d8896_2">The American college of sports medicine recommends you get at least 0.5 to 0.8g of protein per pound of bodyweight.</a>If you follow this you should see that you`ve started to add muscle mass. You will inevitably gain fat too but you can burn it off once you reach your goal physique.</p>
<br>
{% endblock %}